.first{
    height: 5px;
    background-color: black;
}

.second{
    height: 5em;
    background-color: red;
}

.s2{
    color: red;
}

.third{
    height: 5rem;
    background-color: purple;
}

.t3{
    color: purple;
}

.fourth{
    height: 5vw;
    background-color: rgb(144, 224, 144);
}

.f4{
    color: rgb(144, 224, 144);
}

.fifth{
    height: 5vh;
    background-color: rgb(70, 70, 213);
}

.f5{
    color:  rgb(70, 70, 213);
}


.one p{
    background-color: yellow;
}

.two > p{
    background-color: rgb(115, 189, 115);
}

.three + p{
    background-color: rgb(174, 93, 174);
}

.four ~ p{
    background-color: aqua;
}